/* src/MainView.css */

.main-view {
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
}

.nft-grid-container {
    width: 100%;
    padding: 10px;
}

.nft-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    width: 100%;
}

.nft-item {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 0;
}

.nft-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-traits-message {
    text-align: center;
    font-size: 1.2em;
    color: #999;
    margin-top: 20px;
}

/* Dark mode styles */
.main-view.dark-mode {
    background-color: #333;
}

.no-traits-message.dark-mode {
    color: #bbb;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
    .main-view {
        padding: 0 !important;
    }

    .nft-grid-container {
        padding: 5px !important;
    }

    .nft-grid {
        grid-template-columns: repeat(6, 1fr) !important;
        gap: 5px !important;
    }

    .nft-item {
        width: calc(30% - 2px) !important;
        margin: 0 !important;
    }
}

/* Small mobile styles */
@media screen and (max-width: 480px) {
    .nft-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}