/* src/components/SideMenu.css */

.side-menu {
    padding: 10px;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    overflow-y: auto;
    position: fixed;
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.side-menu.dark-mode {
    background-color: #2a2a2a;
    color: #fff;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: inherit;
}

.search-bar {
    width: 78%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.color-picker {
    margin-bottom: 15px;
}

.color-picker h3 {
    margin-bottom: 5px;
    font-size: 14px;
}

.color-options {
    display: flex;
    gap: 8px;
}

.color-option {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ccc;
}

.color-option.transparent-option {
    background: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
        linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
    background-size: 8px 8px;
    /* Adjust the size to make the squares smaller */
    background-position: 0 0, 4px 4px;
    /* Adjust the position for square alignment */
    border: 2px solid #ccc;
}

.color-option.selected {
    border: 2px solid #007bff;
    /* Change border color when selected */
}

.dark-mode .color-option.selected {
    border: 2px solid #fff;
    /* Keep the border white in dark mode */
}

.filter-section {
    margin-bottom: 15px;
}

.filter-section h3 {
    margin-bottom: 5px;
    font-size: 14px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 8px;
}

.breadcrumb-item {
    cursor: pointer;
}

.breadcrumb-separator {
    margin: 0 5px;
}

.trait-list,
.value-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

.trait-list li,
.value-list li {
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trait-list li:hover,
.value-list li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.selected-indicator {
    color: #007bff;
    font-size: 16px;
}

.reset-button {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.dark-mode .search-bar,
.dark-mode .reset-button {
    background-color: #444;
    color: #fff;
    border-color: #555;
}

.dark-mode .trait-list li:hover,
.dark-mode .value-list li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .side-menu {
        width: 100%;
    }
}