/* src/App.css */

.App {
    display: flex;
    height: 100vh;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
    overflow: auto; /* Ensures the App container is scrollable */
}

.App.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.filter-toggle-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Add dark mode styles for other components as needed */
.dark-mode .SideMenu {
    background-color: #444;
    color: #fff;
}

.dark-mode .MainView {
    background-color: #222;
}

.dark-mode .ImageModal {
    background-color: #333;
    color: #fff;
}

.color-picker {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.color-option {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.color-option.transparent-option {
    background-color: transparent;
    border: 1px solid #ccc;
}

.color-option.selected {
    border: 2px solid #fff;
}

.modal-content {
    background: white;
    color: var(--modal-text-color);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 10px auto;
}

.dark-mode .modal-content {
    --modal-background-color: #333;
    --modal-text-color: #fff;
    --traits-background-color: #444;
    --traits-text-color: #fff;
}

.side-menu {
    padding: 10px;
    width: 250px;
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
    transition: background-color 0.3s, color 0.3s;
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

.trait-filter {
    margin-bottom: 10px;
}

.nft-grid-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* Ensure items start from the top */
    padding: 10px;
    width: 100%;
}

.nft-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
}

.nft-item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: var(--item-background-color);
}

.nft-item:hover {
    transform: scale(1.05);
}

.nft-item .image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* Aspect ratio 1:1 to ensure perfect square */
    overflow: hidden;
}

.nft-item .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nft-info {
    padding: 5px;
    text-align: center;
}

.nft-info h3 {
    margin: 5px 0 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-traits-message {
    text-align: center;
    color: red;
    margin-top: 20px;
}

/* Mobile specific styles */
@media (max-width: 768px) {
    .App {
        flex-direction: column;
    }

    .side-menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        background-color: var(--modal-background-color);
    }

    .color-picker {
        justify-content: center;
    }

    .nft-grid {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .nft-item {
        width: calc(50% - 20px);
        max-width: none;
        margin: 10px;
    }
}
